%h1 "Loan Your Plot to a Forest"

  %p "Which Forest would you like to loan your plot to?"
  .tiny.button.dropdown 

  / here list all the forests the user belongs to
  / if they don't belong to any forest then redirect to search for community page

  %p "What is the address where your plot is located?"
  .large-12.columns

  %p "What city is your plot in?"
  .small-9.columns

  %p "What is the square footage of your plot? (guesstimations ok!)"
  .small-9.columns
