%h1 "Loan Your Plot to a Forest"

  %p "Which Forest would you like to loan your plot to?"

  / here list all the forests the user belongs to
  / if they don't belong to any forest then redirect to search for community page

  %p "What is the address where your plot is located?"

  %p "What city is your plot in?"

  %p "What is the square footage of your plot? (guesstimations ok!)"

