=content_for :title, "FoodForest"

%video#video{ :autoplay => true, :loop => true, :src => "/assets/food_forest.mp4", :width => "100%",  :height => "100%"}

#video_pattern

%section.home_container


  = form_tag('/search', :method => 'get') do
    = text_field_tag :location, nil, :id => 'typing_text'

