=content_for :title, "FoodForest"

%video#video{ :autoplay => true, :loop => true, :src => "/assets/food_forest.mp4", :width => "100%",  :height => "100%"}

#video_pattern

%section.home_container

  %h1
    Welcome to Food Forest


  = form_tag('/search', :method => 'get') do
    = text_field_tag :location, nil, :placeholder => "Enter Your Location"
    = submit_tag "Search"
    
    = link_to "Create Forest", new_forest_path
