// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  padding-top: 20px;
}

ul li {
display: inline;
padding-left: 10px;
}

ul {
  padding-left: 40px;
}
#video {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

#video_pattern {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0.3;
  overflow: hidden;
}

.home_container {
  width: 60%;
  padding-left: 20%;
}

h1 {
  color: white;
}
