// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  padding-top: 20px;
}

ul li {
display: inline;
padding-left: 10px;
}

ul {
  padding-left: 40px;
}

#wrapper {
  padding-top: 100px;
  padding-left: 20%;
  width: 80%;
}