<h1><%= @name %></h1>

<div class="panel">Cole's garden needs watering on weekends.
  <div class="avatar">
    <img src="http://www.gravatar.com/avatar/b64488fa3db5b2d472e1bc7e23325a30?s=40">
    <img src="http://www.gravatar.com/avatar/a39c3c996a65e17a19ec29c36914a313?s=40">
  </div>
</div>
<div class="panel">Bob's tomatoes need to be harvested this week.</div>
<div class="panel">Jeremy's garden needs compost to be delivered.
  <div class="avatar">
    <img src="http://www.gravatar.com/avatar/b64488fa3db5b2d472e1bc7e23325a30?s=40">
  </div>
</div>
<div class="panel">Cole's garden needs watering on weekends.</div>
<div class="panel">Cole's garden needs watering on weekends.</div>
<div class="panel">Cole's garden needs watering on weekends.</div>
<div class="panel">Cole's garden needs watering on weekends.</div>
<div class="panel">Cole's garden needs watering on weekends.</div>
<div class="panel">Cole's garden needs watering on weekends.</div>
<div class="panel">Cole's garden needs watering on weekends.</div>
