<h1><%= @name %></h1>

<div class="row">
<div class="large-4 columns">
  <h3>What's happening?</h3>
  <div class="news-feed">
    <div class="news-item">
      <img class="image" src="http://www.gravatar.com/avatar/b64488fa3db5b2d472e1bc7e23325a30?s=40">
      Cole just harvested 10 lbs. of tomatoes!
    </div>
    <div class="news-item">
      <img class="image" src="http://www.gravatar.com/avatar/a39c3c996a65e17a19ec29c36914a313?s=40">
      Jeremy is offering 100 square feet of garden space!
    </div>
  </div>
</div>

<div class="large-8 columns">
<h3>Get Dirty!</h3>
<div class="panel task">Cole's garden needs watering on weekends.
  <div class="avatar">
    <img class="image" src="http://www.gravatar.com/avatar/b64488fa3db5b2d472e1bc7e23325a30?s=40">
    <img class="image" src="http://www.gravatar.com/avatar/a39c3c996a65e17a19ec29c36914a313?s=40">
  </div>
</div>
<div class="panel unfulfilled task">Bob's tomatoes need to be harvested this week.
</div>
<div class="panel task">Jeremy's garden needs compost to be delivered.
  <div class="avatar">
    <img class="image" src="http://www.gravatar.com/avatar/b64488fa3db5b2d472e1bc7e23325a30?s=40">
  </div>
</div>
<div class="panel unfulfilled task">Cole's garden needs watering on weekends.
</div>
<div class="panel task">Cole's garden needs watering on weekends.
  <div class="avatar">
    <img class="image" src="http://www.gravatar.com/avatar/a39c3c996a65e17a19ec29c36914a313?s=40">
  </div>
</div>
<div class="panel unfulfilled task">Cole's garden needs watering on weekends.
</div>
<div class="panel unfulfilled task">Cole's garden needs watering on weekends.
</div>
<div class="panel unfulfilled task">Cole's garden needs watering on weekends.
</div>
<div class="panel unfulfilled task">Cole's garden needs watering on weekends.
</div>
<div class="panel unfulfilled task">Cole's garden needs watering on weekends.
</div>

</div>
</div>